* {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    text-align: center;
    padding: 1rem;
}

th div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.patient-brief {
    text-align: start;
}

.personID {
    width: 103px;
}

.age {
    width: 65px;
}

.ethnicity {
    width: 146px;
}

.race {
    width: 102px;
}

ul {
    margin: 0;
}

.table-container {
    width: fit-content;
}

.table-container table {
    width: fit-content;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin: 10px auto 0;
}

.pagination form {
    display: flex;
    align-items: center;
}

.pagination input {
    width: 53px;
    height: 18px;
    text-align: center;
}

.pagination button {
    width: 53px;
}

.pagination li {
    display: inline-block;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
